<!DOCTYPE html>
<html>
<head>

</head>
<body>
    {% if user.is_authenticated %}
        <p>Hejka {{user}}</p>
    {% else %}
        <p>Nie jestes zalogowany</p>
    {% endif %}

    <div>
        <a href="{% url 'polls:question_list' %}">ankiety</a>
    </div>
</body>
</html>