{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles/qList.css' %}">
</head>
<body>
<div>
    <table>
        <tr>
            <th>id</th>
            <th>pytanie</th>
            <th>data</th>
        </tr>
        
    {% for question in questions %}
        <tr>
            <td>{{ question.id }}</td>
            <td><a href="{% url 'polls:question_detail' question.id %}">{{ question.question_text }}</a></td>
            <td>{{ question.pub_date }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
</body>
</html>